# ESP32-S3 Wireless CMSIS-DAP transmitter (HID + CDC ACM)
ACTION=="add|change", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="4012", TAG+="uaccess"
ACTION=="add|change", SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="4012", TAG+="uaccess"
